#conatiner{
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}

#hinge{
    background-color: #bf152e;
    width: 20px;
    height: 400px;
    border-radius: 5px;
    margin-top:20px ;
}

#secondhalf{
    width: 350px;
    height: 520px;
    background-color: #fc2243;
   
   
    z-index: 3;
}
#secondhalftop{
    width: 90%;
    height:20%;
    position: relative;
    background:none;
    display: block;
    z-index: 1;
}

#topsquare{
    width: 45%;
    margin: auto;
    background-color: #fce386;
    height: 60%;
    z-index: 1;
    position: absolute;
    right: -34.4px;

}

#hidden{    background:#fce386;
    height: 60%;
    margin: auto;
    z-index: 3;
    width: 166.5%;
    position: absolute;
    right: 92.5%;

}

#searchbar{
    display: flex;
    justify-content: center;


}

#searchbtn{
    height: 30px;
    width: 60pxpx;
    color: white;
    background-color: gray;
    border: none;
}
#seachbarInput{
    background-color: gray;
    border: none;
    color: white;
    outline: none;
    font-size: 1.3rem;
    
}

::placeholder{
    color: rgb(223, 222, 222);
}

#sectiontwo{
    height: 35%;
    width: 90%;
    margin: 20px;
    margin-top: 30px;
    
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.square{
  background-color: rgb(232, 239, 20);
    height: 70px;
    width: 70px;   
}

#sectionthree{
    height:25%;
    width: 90%;
    margin: auto;
    background-color: rgb(170, 218, 237);
}

#twobuttons{
    display: flex;
}

#two{
height: 40px;
width: 40px;
color: white;
margin: 5px;
}

#bottomyellowbutton{
    color: yellow;
    margin-top: 5px;
    margin-right: 10px;
    height: 60px;
    width: 100px;
}

#pokeimg{

    width: 200px;
    height: 166px;
}

#topStats{
    display: flex;
    gap: 60px;
    margin-left: 40px;
    
}

#bottomstats{
    display: flex;
    gap: 37px;
    margin-left: 40px;
    

}

.coll {
    font-family: "Tiny5", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: rgb(63, 63, 63);
  margin-top: 12px;
  }




