* {
box-sizing: border-box;
margin: 0;
padding: 0;
font-family: monospace;
}

#container {
    position: relative;
    height: 100vh;
    color: #3b3bc7;
    font-size: 1.4rem;
    text-align: center;
    width: 100%;
    overflow: hidden;
    margin-top: 20px;
    
}

#loadJoke {
    margin-top: 20px;
    font-size: 1em;
    margin-bottom: 20px;
    padding: 0 20px;
}
#jokes-container{
    height: 200px;
    
}

#loadJokeBtn{
    display: block;
    text-align: center;
    margin:auto;
    border: none;
    background-color:#3b3bc7; 
    color: white;
    padding: 1em;
    border-radius: 5px;
}

#loadJokeBtn:hover{
    cursor:grabbing;

}

#img{
    position: absolute;
    width: 250px;
    right: 0;
    bottom: 0;

    
}

#img2{
    position: absolute;
    bottom: 0;
    left: 0;
}